body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(to right, #ffcc29, #ff7e5f, #d83f7c);
}

.container {
    text-align: center;
}

.page-title {
    font-size: 48px;
  font-family: 'Paytone One', sans-serif;

    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.meme-container {
    border: 0px solid white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

#memeImg {
    width: auto;
    height: 100%;
    max-width: 100%;
}

.cool-btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #d83f7c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.cool-btn:hover {
    background-color: #ff5785; /* Change color on hover */
}
